.el1{
    color:skyblue
}
#myId{
    color:rgb(red, green, blue);

}
.Ratan{
    color: green;;
}
.el2{
    color:red;
}
.bill{
    color:brown;
}
.career{
    color: pink;
}
.background{
    color: grey;
}